In [12]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 330.3 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 819.2 kB/s eta 0:00:01
     ----------------------------- -------- 194.6/250.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.2 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\elmgu\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [13]:
# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

# Importar openpyxl para manipular excels
# -----------------------------------------------------------------------
import openpyxl

##### 1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas

In [3]:
juegos = pd.read_csv("videogames.csv")

##### 2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0"

In [4]:
juegos = pd.read_csv("videogames.csv", index_col = 0)

#### 3. Una vez creado el Dataframe, muestra las 10 primeras filas

In [5]:
juegos.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

##### 4. ¿Cúal es el último índice que tenemos en el Dataframe?

In [7]:
juegos.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

##### 5. Mostrar 15 filas aleatorias

In [8]:
juegos.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
16512,Hopper Robo,https://www.imdb.com/title/tt2229209/?ref_=adv...,1983.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,True,False,False,True,False
20607,Alien Breed: Evolution,https://www.imdb.com/title/tt4789720/?ref_=adv...,2009.0,NaN,NaN,NaN,Survival Action Horror game that is a reboot o...,True,False,False,False,False,False,False,True,False
19399,TRON 2.0,https://www.imdb.com/title/tt0208650/?ref_=adv...,2003.0,NaN,8.3,292,When Encom programmer Alan Bradley goes missin...,True,True,False,False,False,False,False,True,False
14837,For the Game,https://www.imdb.com/title/tt1094173/?ref_=adv...,2009.0,NaN,NaN,NaN,Add a Plot,True,True,False,False,False,True,False,False,False
15720,Virtual Juggler,https://www.imdb.com/title/tt0954985/?ref_=adv...,2004.0,Unrated,8.2,17,Add a Plot,False,False,True,False,False,False,False,False,False
8399,.38 Ambush Alley,https://www.imdb.com/title/tt0370236/?ref_=adv...,1987.0,NaN,NaN,NaN,You are at a police academy shooting cardboard...,True,False,False,False,False,False,False,False,False
3801,TV Animation X: Unmei No Tatakai,https://www.imdb.com/title/tt3877156/?ref_=adv...,2002.0,NaN,7.4,6,A air-based fighting game based on the Anime r...,True,False,False,False,False,True,False,False,False
3054,Galerians,https://www.imdb.com/title/tt0260918/?ref_=adv...,1999.0,M,8.0,56,The Galerians want to destroy the human race. ...,True,True,False,False,False,True,False,False,False
11569,The Legend of the Mystical Ninja Starring Goemon,https://www.imdb.com/title/tt0285673/?ref_=adv...,1998.0,E,8.2,77,Add a Plot,False,True,True,False,True,False,False,False,False
7766,Bio F.R.E.A.K.S.,https://www.imdb.com/title/tt5450952/?ref_=adv...,1998.0,M,5.5,63,Bio F.R.E.A.K.S. (Flying Robotic Enhanced Armo...,True,False,False,False,False,False,False,True,False
308,Half-Life,https://www.imdb.com/title/tt0239023/?ref_=adv...,1998.0,M,9.2,"10,164",Dr. Gordon Freeman must fight his way out of a...,True,False,False,False,False,False,False,True,True
18227,Last Period,https://www.imdb.com/title/tt5619276/?ref_=adv...,2016.0,NaN,5.9,9,Add a Plot,False,False,False,False,False,True,False,False,False
10395,Stick War: Legacy,https://www.imdb.com/title/tt9040692/?ref_=adv...,2015.0,NaN,7.8,15,"In this game, you battle against many kingdoms...",False,True,False,False,False,False,False,False,False
1584,Spyjinx,https://www.imdb.com/title/tt8434496/?ref_=adv...,2019.0,NaN,3.0,25,SPYJINX is a unique mix of action strategy gam...,True,False,False,False,False,False,False,False,False
3461,1080: Avalanche,https://www.imdb.com/title/tt0363396/?ref_=adv...,2003.0,E,6.9,57,The player can choose their character to go sn...,True,False,False,False,False,False,False,False,False

##### 6. Crea una lista con el nombre de las columnas

In [10]:
juegos.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

##### 7. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [15]:
juegos.to_excel("jueguitos.xlsx")

##### 8. Muestra la "info" del Dataframe

In [16]:
jueguitos = pd.read_excel("jueguitos.xlsx", index_col = 0)

In [19]:
jueguitos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

##### 9. ¿Tiene nulos o duplicados?

In [20]:
jueguitos.isnull().sum()

name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

##### 10. Obtener la descripción del Dataframe, tanto de las columnas numéricas como de las de tipo "object". Explorar el resultado y sacar unas mínimas comclusiones sobre los datos que habéis obtenido

In [21]:
jueguitos.describe(include="object") #Info de las columnas categóricas

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

In [22]:
jueguitos.describe() #Info de las columnas numéricas

               year        rating
count  20536.000000  11600.000000
mean    2005.568611      7.047526
std       11.846028      1.235204
min     1952.000000      1.000000
25%     1997.000000      6.400000
50%     2008.000000      7.200000
75%     2016.000000      7.900000
max     2027.000000      9.700000

##### 11. Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original

In [23]:
jueguitos.to_csv("juegos.csv")